.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

hr {
  margin: 70px auto 70px auto;
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 8%;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  /* using rem so it is not inherited size from the body, where em and % is inherited from its parent */
  margin: 50px auto 0 auto;
  /* auto means it is going to be centered */
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  text-align: center;
  color: #40514E;
  /* font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif */
  /* fallbacks of the font, just in cae it is not avaiable in the OS */
  font-family: 'Merriweather', serif;
  /* equals to 2em or 16% */
}

.code-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chili-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 20px 0;
}

.skill-row {
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.web-design {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-img {
  width: 300px;
  height: 300px;
}

.profile-desc {
  color: #40514E;
  width: 30%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.copyright {
  font-size: 0.75rem;
  margin-top: 20px;
  color: #EAF6F6;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.skills {
  margin: 80px 0 80px 0;
}

.contact-me {
  margin: 80px 0 80px 0;
}

.desc-contact {
  width: 30%;
  margin: 50px auto 50px auto;
}

p {
  line-height: 2;
}

.btn {
  background: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #11999E);
  background-image: -moz-linear-gradient(top, #11999E, #11999E);
  background-image: -ms-linear-gradient(top, #11999E, #11999E);
  background-image: -o-linear-gradient(top, #11999E, #11999E);
  background-image: linear-gradient(to bottom, #11999E, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 19px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* .code-desc{
  clear: left;
  /* to make some element not wrapped in an image */
